/* Gilroy Regular */
@font-face {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
}

/* Gilroy Medium */
@font-face {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
}

/* Gilroy SemiBold */
@font-face {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-display: swap;
}

/* Gilroy Bold */
@font-face {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
}

/* Museo Sans Cyrl 700 */
@font-face {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Museo\ Sans\ Cyrl\ 700\ Regular.woff2") format("woff2"),
    url("../fonts/Museo\ Sans\ Cyrl\ 700\ Regular.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Gilroy", sans-serif;
  line-height: 1.5;
}

body {
  background-color: #fff;
  color: #000;
  width: 1440px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
